.svn
.idea
*.pyc
.project
.classpath
*.mode1v3
*.pbxuser
*.DS_Store
*~
*.swp
xcuserdata
HTTextFieldAutocompletionExample/apiKeys.h
HTTextFieldAutocompletionExample.xcodeproj/project.xcworkspace/xcshareddata/
*.xccheckout